<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/player_shared') %>

    <div id="stream-container">      
        <div id="stream-overlay">
            <p>Logged in as <%= name %></p>
            <p>This is the score area</p>
        </div>
    
        <canvas id="control-canvas"></canvas>
        <img id="stream" src="data:image/png;base64,<%= stream.frame %>">
    </div>
    
</body>

<script src="/socket.io/socket.io.js"></script>
<script>const socket = io();</script>
<script src="/scripts/frontend/player_shared.js" defer></script>
<script>
    //Sends a request to server to join lobby at the specified id
    function joinGame(id){
    socket.emit('joinLobby', id);
    }
</script>

<%- include('partials/footer') %>