<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>

    <% if(name){ %>

        <div id="stream-container">
            <div id="stream-overlay-menu">
                <button onclick="window.location.href = 'logout'">Logout</button>
                <button>Help</button>
                <button id="stream-connect" onclick="streamPlay()">Connect to Stream</button>
            </div>
            <div id="stream-overlay">
                <p>Logged in as <%= name.name %></p>
                <p>This is the score area</p>
            </div>

            <canvas id="control-canvas"></canvas>
            <img id="stream" src="data:image/png;base64,<%= stream.frame %>">
        </div>
        <script src="/scripts/frontend/user/controls.js" type="module"></script>

        <script src="/scripts/frontend/user/stream.js" defer></script>
    <% } else { %>
        <!-- Login Form (REPLACED)-->
        <!--
        <div id="login-form-container">
            <form id='login-form' method="post" action="/login">

                <label for="username">Username:</label>
                <input type="text" name="username" id="username">

                <label for="password">Password:</label>
                <input type="text" name="password" id="password">

                <input type="submit" value="Login">

            </form>
        </div>
        -->
    <% } %>
</body>
<%- include('partials/footer') %>
